 body {
        font-family: Arial, sans-serif;
        background-color: #f1f1f1;
        margin: 0;
        padding: 0;
       
        min-height: 100vh;
      }

      
      
       .header{
          position:fixed;
          left:0;
          top:0;
          width:100%;
          display:flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: #419999;
          color: white;
          gap:300px;
          text-align: center;
      }
      
      .header img{
          height:100px;
          
      }
      
      .header .title h1{
          
          font-size:30px;
      }
      
      .serch_id{
          
          height: 100px;
      
          background-color: #87c8c8;
          margin-top: 190px;
          
          margin-left: 200px;
          margin-right: 200px;
      }
      .serch_id label{
          font-weight: bold;
          font-size: 24px;
          
      }
      
      .serch_id .lbl-input {
          padding-left: 270px;
          padding-top: 32px;
          
          
      }
      .lbl-input input{
          height: 30px;
          width: 200px;
          font-size: 20px;
      }
      .lbl-input button{
         height: 35px;
         width: 80px;
         font-size: 20px;
         background-color: #ccccff;
         cursor: pointer;
      }
     
      
     .container {
        width: 90%;
        max-width: 1000px;
        background-color: #fff;
        padding: 20px;
        margin-top: 70px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        margin-left:240px;
      }

      .section {
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 8px;
        background:#f5fbfb;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      }

      .section-title {
        font-size: 18px;
        font-weight: bold;
        color: #444;
        text-transform: uppercase;
        padding-left: 10px;
        border-left: 4px solid  #419999;
        margin-bottom: 15px;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }

      .form-group label {
        font-weight: bold;
        padding-bottom: 8px;
      }

      .form-group input, .form-group select, .form-group textarea {
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 8px;
      }

      /* Layout Adjustments */
      .form-grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
      }
      
     
      
      .btn-submit {
      background-color: #419999;
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 12px;
      border-radius: 6px;
      width: 25%;
      margin-left: 340px;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
    }

    .btn-submit:hover {
      background-color: #3f9f9f;
    }