/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on: 18 Feb, 2025, 12:24:49 PM
    Author: Santosh Kumbhalkar
*/

@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman:wght@400;700&display=swap');

body {
    background-color: #f5f5f5;
    font-family: 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    margin-bottom: 100px;
}

.certificate-container {
    background: #ccffcc;
    margin-top: 300px;
    padding: 30px;
    width: 800px;
    border: 2px solid black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Header Section */
.certificate-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.gov-logo, .stamp-logo {
    width: 100px;
    height: 120px;
}

.header-text {
    text-align: center;
    flex-grow: 1;
}

.header-text h2, 
.header-text h3, 
.header-text h4 {
    margin: 0;
    font-weight: bold;
}

.header-text p {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
}

/* Certificate Body */
.certificate-body {
    text-align: left;
    margin: 20px 0;
    font-size: 14px;
}

.certificate-body p {
    font-weight: bold;
    margin-bottom: 10px;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.details-table td {
    border: 1px solid #000;
    padding: 8px;
    table-layout: fixed;
}

/* Footer */
.certificate-footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid black;
    text-align: center;
}

.certificate-footer p {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.print-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}
