body, html {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      
    }

   
    .navbar {
     background-color: #419999;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .navbar .logo {
      display: flex;
      align-items: center;
    }

    .navbar .logo img {
      height: 50px;
      margin-right: 1rem;
    }

    .navbar .logo .logo-text {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .navbar ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
    }

    .navbar ul li {
      margin-right: 1.5rem;
      position: relative;
    }

    .navbar ul li a {
      text-decoration: none;
      color: black;
      font-size: 1rem;
      
      font-weight: 500;
      padding-bottom: 0.5rem;
    }

    .navbar ul li a.active {
      border-bottom: 3px solid red;
      color: red;
    }

    .navbar ul li a:hover {
      color: red;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 0.5rem;
      top: 100%;
      left: 0;
      z-index: 1;
    }

    .navbar ul li:hover .dropdown-content {
      display: block;
    }

    .dropdown-content a {
      display: block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: black;
      white-space: nowrap;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    
    
    
    .navbar .login-btn {
        background-color:black;
        color: white;
        font-size: 16px;
        font-weight: bold;
   
        padding: 8px 11px;
        border: none;
      
        
        

      
    }

    .navbar .login-btn a{
        text-decoration: none;
        color: white;
    }
    .hero {
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(birth-death-img.png) no-repeat center center / cover; 
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
      position: relative;
    }

    .hero::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
    }

    .hero-content {
      position: relative;
      z-index: 1;
    }

    .hero h1 {
      font-size: 4rem;
      margin: 0;
      text-transform: uppercase;
    }

    .hero p {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
    
    