 body {
    font-family: Arial, sans-serif;
background-color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
 .error-message {
      color: red;
      font-size: 16px;
      display: none;
      padding: 5px;
    }
    
    .popup-error {
      color: red;
      font-size: 16px;
      display: none;
      padding: 5px;
    }
.header{
          position:fixed;
          left:0;
          top:0;
          width:100%;
          display:flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: #419999;
          color: black;
          gap:300px;
          text-align: center;
      }
      
      .header img{
          height:100px;
          
      }
      
      .header .title h1{
          
          font-size:30px;
      }

.container {
    width: 90%;
    max-width: 1000px;
    background-color: black;
    padding: 20px;
    margin-top: 160px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-left: 240px;
}
.container h2{
    color: white;
    font-weight: 600;
    padding-left: 290px;
    padding-bottom: 25px;
    font-size: 32px;
    border-bottom: 2px solid #419999;
    
}
.section {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    background-color: #070806;
  
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding-left: 10px;
    border-left: 4px solid #419999;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    padding-bottom: 8px;
    color: white;
    padding-bottom: 8px;
}

.form-group input, .form-group select, .form-group textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px;
}

/* Layout Adjustments */
 .form-grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
      }
      




.btn-submit {
    background-color: #419999;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border-radius: 6px;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.btn-submit:hover {
    background-color: #07bf7a;
}